body{
 	background: grey;
}

.calc{
    background: lightgrey;
    width: 295px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 15px;
    /*position: relative;*/
    /*text-align: left;*/
}

.first{
  text-align: center;
  padding: 10px;
  font-size: 24px;    
  height: 25px;
  border: 2px solid white;
  border-radius: 15px;
}

.second{
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 18px;    
  height: 60px;
  width: 250px;
  border: 2px solid white;
  border-radius: 10px;   
}

.screen{
    height: 40px;
    font-size: 30px;
    text-align: right;
}

.underscreen{
    height: 20px;
    font-size: 14px;
    text-align: right;
}


.third{
  text-align: left;
  padding: 10px;
  font-size: 18px;    
  height: 350px;
  border: 2px solid white;
  border-radius: 15px;   
}

.button {
    background-color: #4CAF50;
    width: 60px;
    height: 60px;
    border: none;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}

.button2{
    /*float: right;*/
    /*float: left;*/
    position: absolute;
    height: 130px;
    margin-left: 7px;
    /*margin-right: 20px;*/
}

.button3{
    display: block;
    clear: both;
}

.button4{
    width: 130px;
}





.common{
	padding: 50px 50px;	
 	color: black;
    text-align: center;
    margin: auto 20px;
    font-size: 24px;
}

.my_area1
{
   margin: auto 20px;
   font-size: 36px;
}

.my_area3
{
  display: inline-block;
}

.my_area4{
    margin-top: 20px; 
}

.my_area6{
    font-size: 12px;
    font-style: italic; 
}

.my_button{
     /* Green */
    border: none;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    vertical-align: bottom;
    background-color: #50A6E6; 
    width: 30px;
    height: 30px; 
}

.podpis{
 	background: pink;
	color: white;
	text-align: center;
	padding-top: 10px;
}
input#bat1_ {
    background: url('twit1a55.png') #50A6E6;
    background-position: -2px -2px;
    width: 50px;
    height: 50px;    
}
input#bat2_ {
    width: 120px;
    height: 50px;
    margin-left: 350px;
    border: none;
}